@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <div class="image-container">
        <img src="https://global.discourse-cdn.com/pocketgems/uploads/episodeinteractive/original/4X/5/c/8/5c815cd91040c03ca2f234f78f48a95ac44123f4.png" alt="about-image-filler" />
    </div>
</div>

<div class="text-center">
    <div class="about-container">
        <p>
            Welcome to Bravo, your ultimate destination for real-time tracking
            and comprehensive airline information. At Bravo, we pride ourselves
            on delivering accurate and up-to-the-minute data on thousands of flights
            worldwide, ensuring that travlers, aviation enthusiasts, and industry 
            professionals alike stay informed every step of the journey. Whether you're
            tracking a loved one's flight, planning your own adventure, or simply
            wanting to stay up to date on global air traffic trends, Bravo provides the
            tools and insights you need with reliability and efficiency at the forefront.
            With our user-friendly interface and commitment to excellence, Bravo is your 
            trusted partner in navigating the skies.

        </p>
    </div>
</div>