@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcome-container">
        <img src="./images/welcome.png" class="welcome-image" />
    </div>
</div>

<div class="text-center">
    <div class="index-question">
        <p>
            Ready to find your flight?
        </p>
    </div>
</div>



<div class="text-center">
    <div class="button-container">
        <button onclick="window.location.href='@Url.Action("Search", "Home")'" class="btn btn-primary">Search Current Flights</button>
        <button onclick="window.location.href='@Url.Action("ReservationPage", "Home")'" class="btn btn-primary">Make a Reservation</button>
    </div>
</div>

<br />

<div class="text-center">
    <div class="destination-section">
        <div class="text-center">
            <div class="destination-section">
                <a href="https://www.visitcostarica.com" class="destination-btn" target="_blank">
                    <img src="https://www.travelandleisure.com/thmb/gaDpA2MnXLa7eGUhNWRUyRt8vu4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-tenorio-TODOCOSTARICA1023-2000ee1ba936431a89f93ddc928fe741.jpg" alt="Costa Rica">
                    <span class="destination-text">Costa Rica</span>
                </a>
                <a href="https://www.rome.info" class="destination-btn" target="_blank">
                    <img src="https://media.cntraveler.com/photos/63372da99ae3f06709fbea5a/1:1/w_1280%2Ch_1280%2Cc_limit/Rome_ichele-bitetto-2y6ojwauKJI-unsplash.jpg" alt="Rome">
                    <span class="destination-text">Rome</span>
                </a>
                <a href="https://www.gotokyo.org" class="destination-btn" target="_blank">
                    <img src="https://media.cntraveller.com/photos/6343df288d5d266e2e66f082/16:9/w_2560%2Cc_limit/tokyoGettyImages-1031467664.jpeg" alt="Tokyo">
                    <span class="destination-text">Tokyo</span>
                </a>
                <a href="https://www.tahiti.com" class="destination-btn" target="_blank">
                    <img src="https://assets-global.website-files.com/5fda95cd487da57637f0cbfe/60383be3b2acea79928ae301_intercontinental-bora-bora-thalasso-spa-aerial-view-overwater-villas-24.jpg" alt="Tahiti">
                    <span class="destination-text">Tahiti</span>
                </a>
            </div>
        </div>
    </div>
</div>
