@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcome-container">
        <img src="./images/welcome.png" class="welcome-image" />
    </div>
</div>

<div class="text-center">
    <div class="button-container">
    </div>
</div>
