@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcome-container">
        <img src="./images/welcome.png" class="welcome-image" />
    </div>
</div>

<div class="text-center">
    <div class="index-question">
        <p>
            Ready to find your flight?
        </p>
    </div>
</div>



<div class="text-center">
    <div class="button-container">
        <button onclick="window.location.href='@Url.Action("Search", "Home")'" class="btn btn-primary">Search Current Flights</button>
        <button onclick="window.location.href='@Url.Action("ReservationPage", "Home")'" class="btn btn-primary">Make a Reservation</button>
    </div>
</div>

<br />

<div class="text-center">
    <div>
        <a href="https://www.visitcostarica.com" class="btn btn-secondary" target="_blank">Costa Rica</a>
        <a href="https://www.rome.info" class="btn btn-secondary" target="_blank">Rome</a>
        <a href="https://www.gotokyo.org" class="btn btn-secondary" target="_blank">Tokyo</a>
        <a href="https://www.tahiti.com" class="btn btn-secondary" target="_blank">Tahiti</a>
    </div>

</div>
