
<h1>Find a flight to reserve!</h1>
<form asp-action="FindResults" asp-controller="Home">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <label for="Leave After">Departure Start Range:</label>
            <input id="leaveAfter" type="date" name="leaveAfter" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="row pb-2">
            <label for="Leave Before">Departure End Range:</label>
            <input id="leaveBefore" type="date" name="leaveBefore" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="row pb-2">
            <label for="Arrive After">Arrival Start Range:</label>
            <input id="arriveAfter" type="date" name="arriveAfter" value="" />
        </div>
        <div class="row pb-2">
            <label for="Arrive Before">Arrival End Range:</label>
            <input id="arriveBefore" type="date" name="arriveBefore" value="" />
        </div>
        <div class="row pb-2">
            <label for="DepartureAirport">Departure Airport:</label>
            <input id="departureIATA" type="search" name="departureIATA"></input>
        </div>
        <div class="row pb-2">
            <label for="ArrivalAirport">Arrival Airport:</label>
            <input id="arrivalIATA" type="search" name="arrivalIATA"></input>
        </div>
        <div class="row pb-2">
            <label for="Airline">Airline:</label>
            <input id="airlineIATA" type="search" name="airlineIATA"></input>
        </div>

        <div class="row pb-2">
            <button type="submit">Search</button>
        </div>
    </div>
</form>