<form method="post" asp-action="SearchFlight" asp-controller="Flight">
    <input type="text" name="Title" placeholder="Title" />
    <input type="text" name="Status" placeholder="Status" />
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" name="CountryName" placeholder="Country Name" />
    <button type="submit">Search</button>
</form>